.users-list-container {
  width: 100%;
  height: calc(100vh - 64px - 10vh - 50px - 50px);
  border: 1px solid red;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  overflow-y: auto;
  padding: 30px 30px;
  box-sizing: border-box;
  background-color: #f0f0f0;
  position: relative;
}
.message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(103, 92, 107);
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}
